.mathematica-plot-modal {
	width: 50%;
}

.mathematica-plot-modal .mathematica-plot-modal-settings {
	max-height: 60vh;
	overflow-y: auto;
	width: 100%;
}

.mathematica-plot-modal .mathematica-plot-modal-preview {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.mathematica-plot-modal .mathematica-plot-modal-content-container {
	display: flex;
	gap: 16px;
}

@media only screen and (max-width: 1300px) {
	.mathematica-plot-modal {
		width: 75%;
	}
}
